body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
color: antiquewhite;
font-size: medium;
}

.row {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 30px;
}